From: <Saved by Blink>
Snapshot-Content-Location: https://www.pythonanywhere.com/user/keyfo/files/home/keyfo/article_website/article/templates/home.html
Subject: 
Date: Mon, 10 Mar 2025 06:45:17 +0700
MIME-Version: 1.0
Content-Type: multipart/related;
	type="text/html";
	boundary="----MultipartBoundary--a8CnjsiOJDofzJitszN6KgS9KYHr0DCkkxIrkkkj1r----"


------MultipartBoundary--a8CnjsiOJDofzJitszN6KgS9KYHr0DCkkxIrkkkj1r----
Content-Type: text/html
Content-ID: <frame-5769A7CBA5C4D5281CDDFAC54C2F12CA@mhtml.blink>
Content-Transfer-Encoding: binary
Content-Location: https://www.pythonanywhere.com/user/keyfo/files/home/keyfo/article_website/article/templates/home.html

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></head><body>{% extends "base.html" %}

{% block style %}
{{ block.super }}

{% load static %}
<link rel="stylesheet" href="https://www.pythonanywhere.com/user/keyfo/files/home/keyfo/article_website/article/templates/%7B%%20static%20'css/home___%7B%7B%20theme%20%7D%7D.css'%20%%7D">
{% endblock style %}

{% block content %}
{{ block.super }}

<main>
    <h2>Article List</h2>
    <div class="lt-list article-list">
        <article class="article" id="article-dom-template">
            <div class="cn-left">
                <div class="cn-top">
                    <h2 class="title"></h2>
                    <span class="sinopsis"></span>
                </div>
                <div class="cn-bottom">
                    <div class="wp">
                        <div class="cn-left">
                            <div class="like">
                                <i class="fa fa-like"></i>
                                <span class="count"></span>
                            </div>
                            <div class="comment">
                                <i class="fa fa-comment"></i>
                                <span class="count"></span>
                            </div>
                            <div class="share">
                                <i class="fa fa-share"></i>
                            </div>
                        </div>
                        <div class="cn-right"></div>
                    </div>
                </div>
            </div>
            <div class="cn-right">
                <div class="picture">
                    <img src="https://www.pythonanywhere.com/user/keyfo/files/home/keyfo/article_website/article/templates/home.html" alt="">
                </div>
            </div>
        </article>
    </div>
</main>
{% endblock content %}


{% block script %}
{{ block.super }}

{% endblock script %}</body></html>
------MultipartBoundary--a8CnjsiOJDofzJitszN6KgS9KYHr0DCkkxIrkkkj1r----
Content-Type: text/css
Content-Transfer-Encoding: binary
Content-Location: https://www.pythonanywhere.com/user/keyfo/files/home/keyfo/article_website/article/templates/%7B%%20static%20'css/home___%7B%7B%20theme%20%7D%7D.css'%20%%7D

@charset "utf-8";


------MultipartBoundary--a8CnjsiOJDofzJitszN6KgS9KYHr0DCkkxIrkkkj1r------
