{% extends "base.html" %}
{% load static %}

{% block title %}
About Us - Heypo
{% endblock title %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/article_page.css' %}" />
{% endblock link %}

{% block content %}
<div class="container">
    <div class="main-article">
        <h2 class="article-title">About Us</h2>
        <div class="article-body">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero et unde eum
            distinctio architecto optio aspernatur est sunt, necessitatibus
            illum molestiae ullam perspiciatis, non assumenda hic dolorem? Reiciendis, iure
            mollitia. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero et unde eum
            distinctio architecto optio aspernatur est sunt, necessitatibus
            illum molestiae ullam perspiciatis, non assumenda hic dolorem? Reiciendis, iure
            mollitia.
            <br><br>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero et unde eum
            distinctio architecto optio aspernatur est sunt, necessitatibus
            illum molestiae ullam perspiciatis, non assumenda hic dolorem? Reiciendis, iure
            mollitia.
        </div>
    </div>
</div>
<!--Author of this template: @arjunahmad66-->
{% endblock content %}