{% extends "base.html" %}
{% load static %}

{% block title %}
Page Not Found - Heypo
{% endblock title %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/category_page.css' %}" />
{% endblock link %}

{% block content %}
<div class="left-container">
    <div class="header">
        <h2 class="nothing-found">Oops, Nothing can be found on this page.</h2>
    </div>
</div>

<div class="line"></div>

<div class="right-container">
    <div class="articles-container">
        <div class="header">
            <h2>Recent Articles</h2>
        </div>
        <div class="articles-container">
            {% for article in recent_articles|slice:":4" %}
            <a href="{{ article.url }}" class="article-title">{{ article.title }}</a>
            {% endfor %}
        </div>
    </div>

    <form action="/search/1/" class="search-form">
        <input type="text" name="q" id="search-bar-3" placeholder="Find" required/>
        <button type="submit" id="search-button-3"><img src="{% static 'icons/search.png' %}" alt=""></button>
    </form>

    <div class="articles-container">
        <div class="header">
            <h2>Popular Articles</h2>
        </div>
        <div class="articles-container">
            {% for article in popular_articles|slice:":4" %}
            <a href="{{ article.url }}" class="article-title">{{ article.title }}</a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}

{% block js_link %}
{% endblock js_link %}